@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafaff;
  font-weight: 400;
  overflow-x: hidden;
}

main {
  background: #151418;
  background-image: url('../public/blob-haikei.svg');
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: 0.2s ease-in;

}

ul,
ol {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

img,
video {
  display: block;
  max-width: 100%;
}


.btn-shadow{
  box-shadow: 0px 2px 3px rgba(160, 170, 180, 0.6);
}

.btn-shadow:hover{
  box-shadow: 0px 3px 8px rgba(160, 170, 180, 0.9);
}

.downloadIcon {
  transition: all 0.2s ease-in-out;
}

.PrimaryBtn:hover {
  color: black;
  background: #f1f1f1;
}

.SecondaryBtn{
  padding: 10px 18px;
  border: 2px solid rgb(57, 134, 250);
  margin-right: 1rem;
}

.emailBtn {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  outline: none;
  padding: 8px 8px;
  border: none;
  background: #fff;
  color: #000000;
  transition:0.8s;
}

.emailBtn:hover {
  color: white;
  background: #151418;
}

.downloadBtn {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  outline: none;
  padding: 8px 8px;
  border: none;
  color: #fff;
  transition: 0.8s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.downloadBtn:hover {
  color: black;
  background: #fff
}

.downloadBtn img {
  opacity: 0.5;
  transition: 0.6s;
}

.downloadBtnMb {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  outline: none;
  padding: 5px 7px;
  border: none;
  transition: 0.8s;
  display: flex;
  align-items: center;
  gap: 6px;
  color: black;
  background: #fff
}

.SecondaryBtn:hover {
  background: #e7f1fa;
  color: #000
}

.Container {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.contactContainer {
  width: 60% !important;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.BigCard {
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.emailBigCard{
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
} 

.mobileBigCard {
  margin-top: 2%;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contactNumber{
  display: flex;
  align-items: center;  
}

.AboutBio{
  text-align: justify;
  margin: 0 auto;
  color: #151418;
  line-height: 1.6;
}

.tagline2 {
  text-align: left;
  max-width: 650px;
  margin: 0;
  color: #151418;
  line-height: 1.6;
}

.tagline2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.SectionTitle {
  font-size: 28px;
  color: #151418;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.ProjectWrapper {
  margin-top: -1rem;
}

@media (max-width: 1000px) {
  .Container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  
  .ProjectWrapper {
    margin-top: 4rem;
  }
    .BigCard {
      padding: 2rem 2rem;
    }
}


@media (max-width: 502px) {
  .contactNumber{
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .contactContainer {
      width: 95% !important;
     
  }
  
}

 @media (max-width: 784px) {
  .emailBtn {
      color: white;
      background: #151418;
    }
 }