.lagProTitle {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #151418;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: cursive !important;
}
.LanguageCard {
  padding: 2% 2% 2% 2%;
  margin: 5% 5% 0% 5%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
}

.LanguageCard:hover {
  background: rgb(211 250 255);
  box-shadow: rgb(3 7 21 / 5%) 15px 13px 3px 2px;
}

.language-proficiency {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.language-proficiency h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.language-list {
  display: flex;
  flex-direction: column;
}

.language-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 5px 70px;
  font-size: 16px;
  color: #555;
  transition: 0.6s;
}

.language-item:hover {
  background-color: #fff;
  border-radius: 5px;
}

.language-name {
  font-weight: bold;
  margin-right: 10px;
}

.alignLevel {
  display: flex;
  align-items: left;
}

.language-level {
  display: flex;
  align-items: left;
}

@media (max-width: 600px) {
.language-item {
    padding: 5px 20px;
  }
}
@media (max-width: 490px) {
  .LanguageCard {
      background: rgb(211 250 255) !important;
      box-shadow: rgb(3 7 21 / 5%) 13px 12px 0px 0px;
    }

    .language-item {
      background-color: #fff;
      border-radius: 6px;
      box-shadow: rgb(3 7 21 / 5%) 6px 7px 0px 0px;
    }

}

@media (max-width: 420px) {
  .language-item {
    flex-direction: column;
    align-items: center;
  }

  .language-name {
    margin-bottom: 5px;
  }
}
